body,h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', sans-serif;
}
.logo-img{
   width: 50px;
}
.nbb {
   width: 120px;
}
.navvv{
    background-color: #fff !important;
}
.banner{
   background: url(./img/asset\ 17.jpeg) no-repeat center;
   padding: 200px;
   position: relative;
   z-index: 1;
}
.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    z-index: -1;
}
.banner h4{
    font-weight: 400;
    margin: 16px 0;
}
.banner h2{
    font-size: 37px;
    margin: 24px 0;
}
.banner-email{
   width: 50%;
   display: inline-block;
   max-width: 350px;
   padding: 10px;
   margin-right: 19px;
}
.banner-btn{
   display: inline-block;
   background-color: #5ba533;
   width: 200px;
   padding: 10px;
   transition: .4s;
}
.banner-btn:hover{
background-color: #fff;
color: #6278df !important;
box-shadow: 3px 3px 27px -3px #6278df;
}
.banner form{
    margin-top: 44px;
}
/*  COUNTER SECTION */
.counter h2 {
    font-size: 44px;
}
/* ACTIVE SECTION */
.active{
    background-color: #f7f9ff;
}
.active img{
    width: 300px;
}
.active-content{
    margin-right: 20px;
}
.active h2 {
    font-weight: 600;
}
.active p{
    font-size: 18px;
    margin: 28px 0;
}
/* FEATURES SECTION CSS */
.feature-items{
    width: 300px;
}
.left-img{
    width: 40%;
}
.left-img img {
    width: 120px;
    height: 100%;
}
.left-test-section{
    width: 60%;
}
.left-test-section{
    margin-left: 24px;
    line-height: 20px;
}
.left-test-section h4{
    font-size: 21px;
    margin-top: 10px;
}
.left-test-section p {
    font-size: 15px;
    margin-top: 22px;
}

.featurs-header h2{
    font-size: 35px;
    font-weight: 400;
}
.featurs-header h4{
    margin: 29px 0;
}
/* BLOG SECTION STRAT */
.blog-header h1 {
    font-weight: 400;
}
.plan-header h1{
    font-size: 42px;
    font-weight: 400;
}
.plan-header p{
    margin: 12px 0;
}
.vv{
    position: relative;
    cursor: pointer;
   

}
.vv::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  background-color: #3c4fa1ab;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.vv:hover::after{
    opacity: 1;
    visibility: visible;
}
/* plan section strat */
.plan{
    background-color: #f7f9ff;
}
.plan-main{
    background-color: #fff;
}

.plan-content p{
    margin-top: 20px;
}

.plan-inner-content p{
    margin-top: 19px;
}
.plan-inner-content span{
    display: inline-block;
   
    font-size: 22px;
    color: #6278df;
    font-weight: 900;
}

.plan-button button{
    margin-top: 15px;
    height: 52px;
    font-size: 20px;
    color: #6278df;
    font-weight: 600;
    transition: .5s;
}
.plan-main:hover button{
    background-color: #6278df;
    color: #fff;
}
.plan-button button:hover{
    background-color: #000;
    color: #fff;
}
/* *****ABOUTE SECTON STRAT**** */
  .aboute h2{
    font-size: 36px;
    font-weight: 400;
}
  .aboute span{
    opacity: .1;
    display: block;
    font-size: 82px;
}
  .aboute p{
    max-width: 600px;
    margin: auto;
    font-size: 16px;
}

  .aboute-inner img{
    display: inline-block;
    height: 60px;
    border-radius: 50%;
    margin-top: 40px;
}
  .aboute-inner h5{
    display: inline-block;
    position: relative;
    top: 23px;
    left: 10px;
}
  .aboute-inner p{
    position: relative;
    bottom: 21px;
    left: 10px;
}

/* *****ABOUTE SECTION END */
/* ****HISTRY SECTION STRAT */
.histrry{
    background-color: #f7f9ff !important;
}
.histrry h2{
    margin: 46px 0;
    font-weight: 400;
    font-size: 35px;
}
.histrry-inner p{
    font-size: 16px !important;
}
/* ****HISTRY SECTION END */
/* ****-TEAM SECTION STRAT**** */
.teammm{
    padding: 120px 0;
}
.team-img {
    position: relative;
    bottom: 30px;
    left: 19px;
}
.team-img img{
    width: 109px!important;
    border-radius: 50%;
}
.team-content{
    text-align: left;
    padding: 0px 30px;
}
.team-content h2{
    font-size: 16px;
    margin: 0;
}
/* ***TEAM SECTION END */
/* *****FROM SECTION STRAT**** */
.frrom{}
.frrom p{}
.frrom h1{
    font-weight: 400;
    font-size: 37px;
}
.inner-forrm{
    margin: 36px auto;
    max-width: 540px;
    padding: 25px 40px;
}
.divss button{
    border: 1px solid transparent;
}
.inner-forrm h4{}
.divss:hover button{
    background-color: #fff;
    color: #0d6efd;
    border: 1px solid #0d6efd;
}
/* *****FROM SECTION END**** */
/* ****HEALTH SECTION STAT*** */
  .helth{
      max-width: 600px;
      margin: auto;
  }
  .helth p{
    font-size: 20px;
}
  .helth h2{
    font-size: 29px;
}
  .health-button{
      max-width: 400px;
      margin: auto;
  
  }
  .ba {
      border: 1px solid #5ba533;
      color: #5ba533;
      transition: .5s;
      display: inline-block;
      padding: 10px 24px;
  }
  .bb{
    border: 1px solid #5ba533;
    color: #5ba533;
    transition: .5s;
  }
   .ba:hover {
      background-color: #5ba533;
      color: #fff;
  }
 .bb{
    border: 1px solid #5ba533;
    background-color: #5ba533;
    color: #fff;
    padding: 10px 24px;
  }
 .bb:hover {
      background-color: #000;
      color: #fff;
  }
.helth-img{
   
}
.helth-img img{
    max-width: 100%;
}
/* ****HEALTH SECTION END*** */
/* *****FOOTER SECTION STRAT*** */
footer{
    background-color: #f7f9ff;
    padding: 10px 0;
}
footer p{
    font-size: 18px !important;
    line-height: 60px;
}
/* ***** FOOTER SECTION END */